@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-darkgreen: #008f11;
  --color-neon-green: #00ff00;
  --shadow-neon: 0 0 20px rgba(0, 255, 0, 0.6);
  --shadow-neon-strong: 0 0 30px rgba(0, 255, 0, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}